body {
}

.line-highlight {
    background-color: rgb(255,215,64);
    width: 100%;
}

/* 
    enable multiple lines in tooltip
    Source: http://stackoverflow.com/questions/13338780/how-to-make-twitter-bootstrap-tooltips-have-multiple-lines
*/
.tooltip-inner {
    white-space:pre;
    max-width:none;
}