body {
}

.line-highlight {
    background-color: rgb(255,215,64);
    width: 100%;
}

a {
    color: rgb(76,175,80) !important;
}
a:hover {
    color: rgba(76,175,80,0.7) !important;
}

/* 
    enable multiple lines in tooltip
    Source: http://stackoverflow.com/questions/13338780/how-to-make-twitter-bootstrap-tooltips-have-multiple-lines
*/
.tooltip-inner {
    white-space: pre;
    max-width: none;
}

.dijkstra-canvas {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.primary-text {
    color: rgb(76,175,80);
}

.input-view {
    margin-bottom: 2px !important;
}
.input-view>label {
    color: rgb(76, 175, 80) !important;
    font-size: larger;
}
.input-view>input {
    color: rgb(76,175,80) !important;
    border-color: rgb(255,152,0) !important;
    border-bottom-style: solid !important;
    background-image: none !important;
    cursor: context-menu !important;
}
.md-errors-spacer {
    min-height: 0px;
    height: 0px;
    max-height: 0px;
}
