<!DOCTYPE html>
<html ng-app="dijkstraApp">
<head>
    <title>Dijkstra</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <!-- Custom CSS -->
    <link href="css/dijkstra.css" rel="stylesheet" type="text/css">
    <!-- AngularJS -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>

    <script src="js/helper.js"></script>
    <script src="js/app.js"></script>
    <script src="js/varDirective.js"></script>
    <script src="js/dijkstra-colors.js"></script>
    <script src="js/dijkstra-graph.js"></script>
    <script src="js/dijkstra-draw-directive.js"></script>
    <script src="js/dijkstra-algorithm.js"></script>
    <script src="js/controllers.js"></script>

    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body ng-controller="MainController" ng-cloak ng-class="{'no-scroll': inDrawMode}">

    <div>

        <md-toolbar>
            <div class="md-toolbar-tools md-whiteframe-z4">
                <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleMenu()">
                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <h2>
                    <span>Dijkstra Algorithm</span>
                </h2>
                <span flex></span>
                <md-menu>
                    <md-button class="md-icon-button" aria-label="More" ng-click="openMore($mdOpenMenu, $event)">
                        <md-icon md-menu-origin md-svg-icon="img/icons/more_vert.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="showSources($event)">
                                <md-icon md-menu-origin md-svg-icon="img/icons/source.svg"></md-icon>
                                Sources
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="showAuthors($event)">
                                <md-icon md-menu-origin md-svg-icon="img/icons/authors.svg"></md-icon>
                                Authors
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <section layout="row" flex>

            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menu">
                <md-toolbar class="md-theme-light">
                    <div class="md-toolbar-tools md-whiteframe-z4">
                        <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleMenu()">
                            <md-icon md-svg-icon="img/icons/back.svg"></md-icon>
                        </md-button>
                        <h2>
                            <span>Dijkstra Algorithm</span>
                        </h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <md-content ng-controller="MenuSidenavCtrl" layout-padding>
                    <md-subheader class="md-no-sticky">Information</md-subheader>
                    <md-list-item ng-click="close(); showInfo()">
                        <md-icon md-svg-icon="img/icons/info.svg"></md-icon>
                        <p> How does Dijkstra works? </p>
                    </md-list-item>

                    <md-divider></md-divider>

                    <md-subheader class="md-no-sticky">Graph</md-subheader>
                    <md-list-item ng-click="import($event)">
                        <md-icon md-svg-icon="img/icons/import.svg"></md-icon>
                        <p> Import </p>
                    </md-list-item>
                    <md-list-item ng-click="export($event)">
                        <md-icon md-svg-icon="img/icons/export.svg"></md-icon>
                        <p> Export </p>
                    </md-list-item>

                    <!--
                    <md-divider></md-divider>

                    <md-list-item ng-click="random()">
                        <md-icon md-svg-icon="img/icons/random.svg"></md-icon>
                        <p> Random </p>
                    </md-list-item>
                    -->
                </md-content>
            </md-sidenav>

            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="vertex">
                <md-toolbar class="md-theme-light">
                    <div class="md-toolbar-tools md-whiteframe-z4">
                        <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleVertex()">
                            <md-icon md-svg-icon="img/icons/back.svg"></md-icon>
                        </md-button>
                        <h2>
                            <span>Vertex</span>
                        </h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <md-content ng-controller="VertexSidenavCtrl" layout-padding>
                    <md-input-container>
                        <label for="lbVertexName">Vertex Name</label>
                        <input type="text" id="lbVertexName" ng-model="activeVertex.name" md-autofocus autocomplete="off">
                    </md-input-container>
                    <div layout="row" layout-align="space-around center">
                        <md-button ng-disabled="activeVertex.isStart || activeVertex.isEnd" ng-click="graph.setStart(activeVertex)" class="md-primary" ng-class="{'md-raised': activeVertex.isStart}">
                            Start
                        </md-button>
                        <md-button ng-disabled="activeVertex.isStart || activeVertex.isEnd" ng-click="graph.setEnd(activeVertex)" class="md-primary" ng-class="{'md-raised': activeVertex.isEnd}">
                            End
                        </md-button>
                    </div>
                    <div layout="row" layout-align="space-around center">
                        <md-button ng-disabled="activeVertex.isStart || activeVertex.isEnd" ng-click="graph.removeVertex(activeVertex); toggleVertex()" class="md-primary">
                            Remove
                        </md-button>
                    </div>
                </md-content>
            </md-sidenav>

            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="edge">
                <md-toolbar class="md-theme-light">
                    <div class="md-toolbar-tools md-whiteframe-z4">
                        <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleEdge()">
                            <md-icon md-svg-icon="img/icons/back.svg"></md-icon>
                        </md-button>
                        <h2>
                            <span>Edge</span>
                        </h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <md-content ng-controller="EdgeSidenavCtrl" layout-padding>
                    <md-input-container>
                        <label for="lbEdgeWeight">Edge Weight</label>
                        <input type="number" id="lbEdgeWeight" ng-model="activeEdge.weight" md-autofocus autocomplete="off">
                    </md-input-container>
                    <div layout="row" layout-align="space-around center">
                        <md-button ng-click="graph.removeEdge(activeEdge); toggleEdge()" class="md-primary">
                            Remove
                        </md-button>
                    </div>
                </md-content>
            </md-sidenav>

            <md-content layout="row" layout-padding flex style="background-image: url('img/background_material.jpg'); background-attachment: fixed">
                <div flex>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Algorithm</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <pre ng-if="showComments">
<span ng-class="hlLine(01)"> 1  function Dijkstra(Graph, source):</span>
<span ng-class="hlLine(02)"> 2</span>
<span ng-class="hlLine(03)"> 3      create vertex set Q</span>
<span ng-class="hlLine(04)"> 4</span>
<span ng-class="hlLine(05)"> 5      for each vertex v in Graph:             // Initialization</span>
<span ng-class="hlLine(06)"> 6          <v info="{name: 'dist', text: 'dist[v]'}"></v> ← INFINITY                  // Unknown distance from source to v</span>
<span ng-class="hlLine(07)"> 7          <v info="{name: 'prev', text: 'prev[v]'}"></v> ← UNDEFINED                 // Previous node in optimal path from source</span>
<span ng-class="hlLine(08)"> 8          add v to <v info="{name: 'Q', text: 'Q'}"></v>                          // All nodes initially in Q (unvisited nodes)</span>
<span ng-class="hlLine(09)"> 9</span>
<span ng-class="hlLine(10)">10      <v info="{name: 'dist', text: 'dist[source]'}"></v> ← 0                        // Distance from source to source</span>
<span ng-class="hlLine(11)">11</span>
<span ng-class="hlLine(12)">12      while <v info="{name: 'Q', text: 'Q'}"></v> is not empty:</span>
<span ng-class="hlLine(13)">13          <v info="{name: 'u', text: 'u'}"></v> ← vertex in Q with min <v info="{name: 'distQ', text: 'dist[u]'}"></v>    // Source node will be selected first</span>
<span ng-class="hlLine(14)">14          remove <v info="{name: 'u', text: 'u'}"></v> from <v info="{name: 'Q', text: 'Q'}"></v></span>
<span ng-class="hlLine(15)">15</span>
<span ng-class="hlLine(16)">16          for each neighbor <v info="{name: 'v', text: 'v'}"></v> of <v info="{name: 'uNeighbors', text: 'u'}"></v>:           // where v is still in Q.</span>
<span ng-class="hlLine(17)">17              <v info="{name: 'alt', text: 'alt'}"></v> ← <v info="{name: 'dist', text: 'dist[u]'}"></v> + <v info="{name: 'lengthUV', text: 'length(u, v)'}"></v></span>
<span ng-class="hlLine(18)">18              if <v info="{name: 'alt', text: 'alt'}"></v> < dist[v]:               // A shorter path to v has been found</span>
<span ng-class="hlLine(19)">19                  <v info="{name: 'dist', text: 'dist[v]'}"></v> ← <v info="{name: 'alt', text: 'alt'}"></v></span>
<span ng-class="hlLine(20)">20                  <v info="{name: 'prev', text: 'prev[v]'}"></v> ← <v info="{name: 'u', text: 'u'}"></v></span>
<span ng-class="hlLine(21)">21</span>
<span ng-class="hlLine(22)">22      return dist[], prev[]</span>
                            </pre>
                            <pre ng-if="!showComments">
<span ng-class="hlLine(01)"> 1  function Dijkstra(Graph, source):</span>
<span ng-class="hlLine(02)"> 2</span>
<span ng-class="hlLine(03)"> 3      create vertex set Q</span>
<span ng-class="hlLine(04)"> 4</span>
<span ng-class="hlLine(05)"> 5      for each vertex v in Graph:</span>
<span ng-class="hlLine(06)"> 6          <v info="{name: 'dist', text: 'dist[v]'}"></v> ← INFINITY</span>
<span ng-class="hlLine(07)"> 7          <v info="{name: 'prev', text: 'prev[v]'}"></v> ← UNDEFINED</span>
<span ng-class="hlLine(08)"> 8          add v to <v info="{name: 'Q', text: 'Q'}"></v></span>
<span ng-class="hlLine(09)"> 9</span>
<span ng-class="hlLine(10)">10      <v info="{name: 'dist', text: 'dist[source]'}"></v> ← 0</span>
<span ng-class="hlLine(11)">11</span>
<span ng-class="hlLine(12)">12      while <v info="{name: 'Q', text: 'Q'}"></v> is not empty:</span>
<span ng-class="hlLine(13)">13          <v info="{name: 'u', text: 'u'}"></v> ← vertex in Q with min <v info="{name: 'distQ', text: 'dist[u]'}"></v></span>
<span ng-class="hlLine(14)">14          remove <v info="{name: 'u', text: 'u'}"></v> from <v info="{name: 'Q', text: 'Q'}"></v></span>
<span ng-class="hlLine(15)">15</span>
<span ng-class="hlLine(16)">16          for each neighbor <v info="{name: 'v', text: 'v'}"></v> of <v info="{name: 'uNeighbors', text: 'u'}"></v>:</span>
<span ng-class="hlLine(17)">17              <v info="{name: 'alt', text: 'alt'}"></v> ← <v info="{name: 'dist', text: 'dist[u]'}"></v> + <v info="{name: 'lengthUV', text: 'length(u, v)'}"></v></span>
<span ng-class="hlLine(18)">18              if <v info="{name: 'alt', text: 'alt'}"></v> < dist[v]:</span>
<span ng-class="hlLine(19)">19                  <v info="{name: 'dist', text: 'dist[v]'}"></v> ← <v info="{name: 'alt', text: 'alt'}"></v></span>
<span ng-class="hlLine(20)">20                  <v info="{name: 'prev', text: 'prev[v]'}"></v> ← <v info="{name: 'u', text: 'u'}"></v></span>
<span ng-class="hlLine(21)">21</span>
<span ng-class="hlLine(22)">22      return dist[], prev[]</span>
                            </pre>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <div layout style="width: 450px;">
                                <div flex="15" flex-gt-lg="10" layout layout-align="center center">
                                    <span class="md-body-1" >slow</span>
                                </div>
                                <md-slider md-discrete class="md-primary" ng-model="runInterval" min="1" max="1000" ng-disabled="runnable !== null" aria-label="Speed" flex></md-slider>
                                <div flex="15" flex-gt-lg="10" layout layout-align="center center">
                                    <span class="md-body-1" >fast</span>
                                </div>
                            </div>
                            <span flex="10"></span>
                            <md-button ng-click="resetAlgorithm()" ng-disabled="runnable !== null" class="md-accent">Reset</md-button>
                            <md-button ng-click="next()" ng-disabled="!canNext()" class="md-primary">Next</md-button>
                            <md-button ng-show="runnable === null" ng-click="run()" class="md-raised md-primary">Run</md-button>
                            <md-button ng-hide="runnable === null" ng-click="stopRun()" class="md-raised md-primary">Stop</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Variables</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div layout="row" layout-align="space-around center">
                                <md-input-container class="input-view" flex="20">
                                    <label for="lbU">u</label>
                                    <input type="text" id="lbU" ng-model="algorithm.display.u" disabled>
                                </md-input-container>
                                <md-input-container class="input-view" flex="20">
                                    <label for="lbV">v</label>
                                    <input type="text" id="lbV" ng-model="algorithm.display.v" disabled>
                                </md-input-container>
                                <md-input-container class="input-view" flex="60">
                                    <label for="lbQ">Q</label>
                                    <input type="text" id="lbQ" ng-model="algorithm.display.Q" disabled>
                                </md-input-container>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Path</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <div layout="row" flex>
                                <div ng-show="algorithm.display.result.length > 0" layout="row" layout-align="center center" flex>
                                    <div ng-repeat="v in algorithm.display.result" layout="row" layout-align="space-around center" flex>
                                        <div flex class="primary-text">
                                            {{v.name}}
                                        </div>
                                        <div ng-hide="v.isEnd" flex>
                                            <md-icon md-svg-icon="img/icons/arrow.svg"></md-icon>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="algorithm.display.result.length > 0" layout="row" layout-align="start center" flex>
                                    There has no path been found yet!
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <div flex>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Graph</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <canvas class="dijkstra-canvas" dijkstra-draw></canvas>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="resetGraph()" ng-disabled="runnable !== null" class="md-accent">Clear</md-button>
                            <span flex></span>
                        </md-card-actions>
                    </md-card>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Vertices</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <table ng-show="algorithm.display.path.length > 0" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>vertex</th>
                                        <th>predecessor</th>
                                        <th>distance from start</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in algorithm.display.path">
                                        <td><b>{{p.name}}</b></td>
                                        <td>{{p.prev}}</td>
                                        <td>{{p.dist}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-hide="algorithm.display.path.length > 0">
                                Vertices will be shown as soon as algorithm is running.
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </md-content>
        </section>
    </div>

</body>
</html>
